:root {
    --primary-color: #9AEDFF;
    --secondary-color: #007bff;
    --tertiary-color: #fff;
    --text-color: #333;
    --hover-color: #e8e8e8;
    --font-family: 'Quicksand', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px;
}

.title {
    font-family: var(--font-family);
    text-align: center;
    color: var(--text-color);
}

.description {
    font-family: var(--font-family);
    text-align: center;
    color: var(--text-color);
}

