:root {
  --primary-color: #9AEDFF; 
  --secondary-color: #007bff;
  --tertiary-color: #fff; 
  --text-color: #333; 
  --error-color: #ff0000; 
  --font-family: 'Quicksand', sans-serif;
}

.container {
  background-color: var(--primary-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin-left: 31rem;
  margin-top: 7rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputGallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputGallery label {
  font-family: var(--font-family);
  font-weight: bold;
  color: var(--text-color);
}

.inputGallery input {
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

.inputGallery button {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: var(--font-family);
}

.inputGallery button:hover {
  background-color: var(--text-color);
}

.errorMessage {
  color: var(--error-color); /* Use the defined error color */
  font-size: 12px;
  margin-top: 5px;
}