:root {
    --primary-color: #007bff; /* Replace with your desired primary color */
    --secondary-color: #6c757d; /* Replace with your desired secondary color */
    --tertiary-color: #ffc107; /* Replace with your desired tertiary color */
    --white: #fff;
    --black: #000;
    --gray: #6c757d;
    --success: #28a745;
    --error: #dc3545;
    --warning: #ffc107;
    --info: #17a2b8;
  }

.navBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);

  }
  
  .logoSection {
    display: flex;
    align-items: center;
    gap: 5rem;    
  }
  
  .logoSection img {
    width: 50px;
    height: 50px;
  }
  
  .linkSection {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
    color: var(--secondary-color);
  }

  .linkSection span:hover {
    color: var(--tertiary-color); 
    text-decoration: underline; 
  }
  
  .linkSection span {
    cursor: pointer;
    color: #333;
    font-weight: bold;
  }
  
  .avatarSection {
    display: flex;
    align-items: center;
  }
  
  .avatarSection img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }